name: ClickForShine-Resgate
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1-checkout
        uses: actions/checkout@v4
      - name: 2-java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: 3-flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: 4-build
        run: |
          cd clickforshine_3.0
          flutter pub get
          chmod +x android/gradlew
          flutter build apk --release
      - name: 5-upload
        uses: actions/upload-artifact@v4
        with:
          name: ClickForShine-App
          # O segredo: buscar o APK em qualquer subpasta automaticamente
          path: "**/app-release.apk"
